
.container {
    padding: 16px; 
}

.top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.label {
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 4px;
}

.top-section * {
    margin: 0;
    padding: 0;
}

.name-section {
    margin-top: 32px;
    margin-bottom: 18px;
}

.submit-button {
    margin-top: 18px;
}
