.new-project-button-container {
  display: inline-block;
  width: fit-content;
  height: fit-content;
}

.new-project-button__text {
  padding-left: 4px;
}

.projects-table {
  width: 100%;
}

.error-message-container {
  width: fit-content;
  min-width: 33%;
  margin: auto;
}
