.button-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 280px;
}

.button-text {
  margin-left: 6px;
}

.page-content {
  width: 100%;
}

.description-section {
  margin: 32px;
  font-size: 20px;
}

.activities-table {
  width: 100%;
}
