.page-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.navbar-container {
  width: 179px;
  height: 100%;
  position: sticky;
}

.content-container {
  position: relative;
  width: calc(100% - 179px);
  overflow: hidden;
  overflow-x: hidden;
}
