.table {
  width: 100%;
  border-collapse: collapse;
}

.header th {
  text-align: start;
  padding-left: 16px;
}

.row {
  border-bottom: 1px solid #0000002f;
}

.row:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

.row td,
.row th {
  padding: 16px;
}

.table th,
.table td {
  width: 16%;
  overflow: hidden;
}
