.table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

.column-title {
  text-align: start;
}

.row, .column-title {
  border-bottom: 1px solid #0000002f;
}

.row:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

.row td,
.column-title {
  padding: 16px;
}

.table th,
.table td {
  width: 16%;
  overflow: hidden;
}
