.page-container {
    height: 100%;
    text-align: center;
    overflow-y: hidden;
}

.login-section {
    margin: 5% auto;
    width: 33%;
    padding: 124px;
    border: 1px solid grey;
    border-radius: 4px;
    background-color: #fbfbfb;

}

.error-message-container {
    margin: auto;
}

.submit-button {
    width: 100%;
    margin: 8px auto;
}