.section-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: fit-content;
}

.section-header {
    color: #6C5973;
    padding-left: 8px;
    margin-bottom: 12px;
}

.links {
    padding: 0;
    margin: 0;
    list-style: none;
}